<html>
    <head>
        <title>
            Stocks
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> </script> 
        <style>
            input{
            border: 1px solid black;
            border-collapse: collapse;
          }
          
            table,th,td,hr,input{
            border: 1px solid black;
            border-collapse: collapse;
          }
          thead{
            border: 2px solid black;
            border-collapse: collapse;
          }
          th,td{
              padding:10px;
          }
          table{
              margin-left:15px;
              margin-bottom:15px;
          }
          
          a { 
            color: inherit; 
        } 
        </style>
    </head>
    <body>
        <br>
        <center>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-3">
                    <form action="/display" method="GET">
                        <button class="btn btn-primary" style="margin-left: 150px;">
                            Graph
                        </button>
                    </form>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-3">
                    <form action="/companyList" method="GET">
                        <button class="btn btn-danger">
                            Companies
                        </button>
                    </form>
                </div>
              
            </div>
            <br>
            <form action="/update" method="POST">
                <input type="date" id="date" name="date" required>
                <button class="btn btn-success">
                    Update
                </button>
            </form>
            <br>
            <form action="/api" method="POST">
                <input type="number" id="number" name="number" placeholder="Id" step="any" required>
                <input type="text" id="symbol" name="symbol" placeholder="Symbol" required>
                <input type="text" id="company" name="company" placeholder="Company" required>
                <input type="date" id="date" name="date" required>
                <button class="btn btn-warning">
                    Submit
                </button>
            </form>

        </center>
        <br>
        <div class="row container" id="search-div">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <input id="search" class="form-control ml-auto" type="text" name="search" placeholder="&#xF002; Search" style="width:30%;font-family:Arial, FontAwesome" onkeyup="search()">                   
            <a href="#center">
                <button class="btn btn-danger">
                    X
                </button>
            </a>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-2">
                
            </div>
            <div class="col-md-4 col-sm-8">
                <table id="searching">
                    <thead>
                        <tr>
                            <td>
                                Id
                            </td>
                            <td>
                                Symbol
                            </td>
                            <td>
                                Company
                            </td>
                        </tr>
                    </thead>
                    <% company.forEach(function(item){ %>
                        <tr>
                            <td>
                                <%= item.id %>
                            </td>
                            <td>
                                <%= item.symbol %>
                            </td>
                            <td>
                                <%= item.company %>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>

    <script>
         const search=()=>{
        let filter=document.getElementById('search').value.toUpperCase();
        let searching=document.getElementById('searching');
        let tr=searching.getElementsByTagName('tr');
        
        for(var i=0;i<tr.length;i++){
            let td=tr[i].getElementsByTagName('td')[0];
            let td1=tr[i].getElementsByTagName('td')[1];
            let td2=tr[i].getElementsByTagName('td')[2];
            if(td){
                let textValue=td.textContent || td.innerHTML;
                let textValue1=td1.textContent || td1.innerHTML;
                let textValue2=td2.textContent || td2.innerHTML;
                if(textValue.toUpperCase().indexOf(filter) > -1 || textValue1.toUpperCase().indexOf(filter) > -1 || textValue2.toUpperCase().indexOf(filter) > -1){
                   tr[i].style.display="";
                }
                else{
                    tr[i].style.display="None";
                }
            }
        }
    }
    
    </script>
    </body>
</html>
    