<html>
    <head>
        <title>
            Stocks
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> </script> 
    </head>
    <body>
        <br>
        <br>
        <center>
            <form action="/" method="GET">
                <button class="btn btn-success">
                    Back
                </button>
            </form>

            <form action="/danger/edit?_method=PUT" method="POST">
                <input type="date" id="date" name="date" required>
                <input type="number" id="number" name="number" placeholder="Original Price" required>
                <input type="text" id="company" name="company" placeholder="Original Company" required>
                <br>
                <br>
                <input type="date" id="date1" name="date1" required>
                <input type="number" id="number1" name="number1" placeholder="Update Price" required>
                <input type="text" id="company1" name="company1" placeholder="Update Company" required>
                <br>
                <br>
                <button class="btn btn-warning">
                    Submit
                </button>
            </form>
           
            <form action="/delete" method="POST">
                <button class="btn btn-danger">
                    Delete Everything!!
                </button>
            </form>
           
        </center>
       
    </body>
</html>
