<html>
    <head>
        <title>
            Stocks
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> </script> 
    </head>
    <body>
        <br>
        <br>
        <center>
            <form action="/" method="GET">
                <button class="btn btn-primary">
                    Back
                </button>
            </form>
            <br>
            <form action="/danger/delete?_method=DELETE" method="POST">
                <button class="btn btn-danger">
                    Delete Everything!!
                </button>
            </form>
           
        </center>
       
    </body>
</html>
